.header_line {
    height: 89px;
    background-color: #728567;
}

body {
    margin: 0;
}

#listok_1 {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
}

#listok_2 {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 367px;
}

.header {
    max-width: 1148px;
    min-height: 92px;
    background-color: #FFF;
    border-radius: 50px;
    box-shadow: 0 4px 4px 0 #00000025;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    position: relative;
    top: -45px;
    z-index: 2;
    flex-wrap: wrap;
}

.logo {
    font-family: interExtraLight;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 6px;
}

.link {
    font-family: interRegular;
    font-size: 16px;
    color: #000;
    text-underline-offset: 3px;
}

.link:hover {
    border-bottom: 5px solid #6AAD46;
    text-decoration: none;
}

.nav {
    max-width: 530px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actions {
    display: flex;
    flex-direction: row;
    align-self: center;
    max-width: 197px;
    width: 100%;
    justify-content: space-between;
}
.footer {
    position: relative;
    margin: 0;
    width: 100%;
    height: 291px;
    background-color: #728567;
}
.footer-text {
    display: grid;
    width: 1123px;
    grid-template-columns: repeat(4, 281px);
    margin: 0 auto;
    align-items: start;
    justify-content: space-between;
}
#listok-3 {
    position: absolute;
    bottom: 0;
    left: 0;
}
.block-f h3 {
    display: flex;
    align-items: center;
    font-family: interMedium;
    font-size: 20px;
    color: #C5C5AC;
}
.block-f img { 
    margin-right: 9px;
}
.footer h3 {
    font-family: interMedium;
    font-size: 20px;
}
.footer-text p {
    font-family: interLight;
    font-size: 16px;
    color: #C5C5AC;
}
.footer-text a {
    font-family: interLight;
    font-size: 16px;
    color: #C5C5AC;
    text-decoration: none;
}
.link-footer:hover {
    color:#3F453C;
}
@font-face {
    font-family: interExtraLight;
    src: url("Fonts/Inter-ExtraLight.otf");
}
.card-switcher-body {
    max-width: 530px;
    min-height: 570px;
    background-color: #E1E2DB;
    box-shadow: 0 4px 4px 0 #00000025;
    margin-top: 100px;
    margin-left: 410px;
    display: flex;
    flex-direction: row;
}
.a-link {
    position: absolute;
    top: 230px;
    left: 410px;
    font-family: interLight;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #000;
    text-decoration: none;
}
.a-link img {
    margin-right: 16px;
}
.a-link:hover {
    color: #6AAD46;
}
.card-switcher-body .img-main {
    align-items: center;
    width: 100%;
}
.img-main {
    margin-top: 74px;
}
.card-switcher{
    display: flex;
    margin: 0 auto;
    gap: 0 87px;
    align-self: center;
    margin-top: 32px;
    margin-left: 407px;
}
.good-info-body {
    /*max-width: 531px;
    min-height: 739px;
    background-color: #E1E2DB;
    box-shadow: 0 4px 4px 0 #00000025;
    margin-top: -800px;
    margin-left: 970px;
    margin-bottom: 179px;
    display: flex;
    flex-direction:row;*/

    position: relative;
    margin: 0;
    width: 100%;
    max-width: 531px;
    min-height: 739px;
    background-color: #E1E2DB;
}
.good-text {
    display: grid;
    width: 330px;
    grid-template-columns: repeat(2, 100px);
    margin: 0 auto;
    align-items: start;
    justify-content: space-between;
}

/*.p-main {
    text-align: center;
    margin-top: 19px;
    height: 24px;
    width: 531px;
}*/
/*.good-text p {
    margin-left: 27px; 
    font-family: interLight;
    font-size: 20px;
}*/
.bag-add {
    font-family: interLight;
    font-size: 24px;
    color: #C5C5AC;
    width: 531px;
    height: 93px;
    background-color: #4F5B4A;
    border: 0;
    transition: all 500ms ease;
    position: absolute;
    margin-top: 647px;
}

.bag-add:hover {
    color: #FFF;
    background-color: #6AAD46;
}
@font-face {
    font-family: interRegular;
    src: url("Fonts/Inter-Regular.otf");
}

@font-face {
    font-family: interLight;
    src: url("Fonts/Inter-Light.otf");
}

@font-face {
    font-family: interSemiBold;
    src: url("Fonts/Inter-SemiBold.otf");
}
@font-face {
    font-family: interMedium;
    src: url("Fonts/Inter-Medium.otf");
}
