body {
    margin: 0;
}

#listok_1 {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
}

#listok_2 {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 367px;
}

#listok-3 {
    position: absolute;
    bottom: 0;
    left: 0;
}

.price {
    display: flex;
    margin-top: 70px;
    margin-bottom: 15px;
}

.price p:nth-child(1) {
    margin-top: 10px;
    margin-left: 65px;
    font-family: interSemiBold;
    font-size: 28px;
}

.price p:nth-child(2) {
    margin-top: 5px;
    margin-left: 20px;
    font-family: interRegular;
    font-size: 24px;
    text-decoration: line-through;
}

.quantity {
    padding-top: 20px;
    margin-left: 141px;
    user-select: none;
}

.quantity input {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 79px;
    height: 68px;
    background: none;
    font-size: 22px;
    font-family: interBold;
    color: #6AAD46;
}

button[class*=btn] {
    width: 79px;
    height: 72px;
    background-color: #FFF;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.minus-btn img {
    margin-bottom: 0px;
}

.plus-btn img {
    margin-top: 2px;
}

button:focus,
input:focus {
    outline: 0;
}

@font-face {
    font-family: interExtraLight;
    src: url("Fonts/Inter-ExtraLight.otf");
}

.card-switcher-body {
    max-width: 530px;
    min-height: 570px;
    width: 100%;
    background-color: #E1E2DB;
    box-shadow: 0 4px 4px 0 #00000025;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

.a-link {
    position: relative;
    top: 70px;
    font-family: interLight;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #000;
    text-decoration: none;
}

.a-link img {
    margin-right: 16px;
}

.a-link:hover {
    color: #6AAD46;
}

.card-switcher-body .img-main {
    align-items: center;
    width: 100%;
}

.img-main {
    margin-top: 74px;
    max-height: 421px;
    max-width: 470px;
}

.good-cart-body {
    display: flex;
    justify-content: center;
}

.good-cart-container {
    max-width: 1033px;
    width: 90%;
}

.card-switcher {
    display: flex;
    margin: 0 auto;
    gap: 0 87px;
    align-self: center;
    margin-top: 32px;
    margin-bottom: 50px;
}

.good-info-body {
    max-width: 531px;
    min-height: 646px;
    width: 100%;
    background-color: #EAEDE7;
    box-shadow: 0 4px 4px 0 #00000025;
    margin-top: -850px;
    margin-left: 550px;
    margin-bottom: 179px;

}

.center {
    height: 27px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 25px;
    font-size: 22px;
    font-family: interRegular;
}

.good-text {
    margin-left: 27px;
    margin-top: 61px;
    font-family: interLight;
    font-size: 20px;
}

.bag-add {
    font-family: interLight;
    font-size: 24px;
    color: #C5C5AC;
    width: 531px;
    height: 93px;
    background-color: #4F5B4A;
    border: 0;
    transition: all 500ms ease;
    /*position: absolute;*/
    margin-top: 70px;
}

.bag-add:hover {
    color: #FFF;
    background-color: #6AAD46;
}

@media (max-width: 1152px) {
    .good-info-body {
        margin: 0 0 70px 0;
    }

    .good-cart-container {
        display: grid;
        justify-content: center;
        /*grid-template-columns: repeat(1, 1fr);*/
    }

    /*.good-cart-body {*/
    /*    padding: 0 40px;*/
    /*}*/
}

@media (max-width: 594px) {
    .card-switcher {
        display: none;
    }

    .card-switcher-body {
        padding: 10%;
        height: 300px;
        min-height: auto;
    }

    .img-main {
        height: 300px;
        width: 80% !important;
        margin-top: 0;
    }
    .arrow {
        height: 300px;
        width: 30px;
    }

    .good-info-body {
        margin: 70px auto;
        width: 100%;
        padding: 10%;
    }

    .quantity {
        margin: 0 10%;
        display: flex;
        justify-content: center;
    }

    .bag-add {
        width: 100%;
    }

    .good-cart-body {
        width: 80%;
        margin-top: -20%;
    }
}

@media (max-width: 490px) {
    .good-text {
        margin-left: 0;
        font-size: 16px;
    }
    .price p:nth-child(2) {
        font-size: 20px;
    }

    .price p:nth-child(1) {
        font-size: 24px;
    }

    .price {
        margin-top: 10px;
    }
}

@media (max-width: 370px) {
    .center {
        font-size: 18px;
    }

    .good-text {
        font-size: 14px;
    }

    .quantity {
        padding-top: 0;
    }
}

@font-face {
    font-family: interRegular;
    src: url("Fonts/Inter-Regular.otf");
}

@font-face {
    font-family: interLight;
    src: url("Fonts/Inter-Light.otf");
}

@font-face {
    font-family: interSemiBold;
    src: url("Fonts/Inter-SemiBold.otf");
}

@font-face {
    font-family: interMedium;
    src: url("Fonts/Inter-Medium.otf");
}

@font-face {
    font-family: interBold;
    src: url("Fonts/Inter-Bold.otf");
}