.header_line {
    height: 89px;
    background-color: #728567;
}
body {
    margin:0;
}
#listok_1 {
    position: absolute;
    z-index: -1;
    right: 0;
    top:0;
}
.header {
    max-width: 1148px;
    min-height: 92px;
    background-color: #FFF;
    border-radius: 50px;
    box-shadow: 0 4px 4px 0 #00000025;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    position: relative;
    top: -45px;
    z-index: 2;
    flex-wrap: wrap;
}
.logo {
    font-family: interExtraLight;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.logo img {
    margin-right: 6px;
}
.link {
    font-family: interRegular;
    font-size: 16px;
    color:#000;
    text-underline-offset: 3px;
}
.nav {
    max-width: 530px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 197px;
    width: 100%;
    justify-content: space-between;
}
.info-block {
    max-width: 843px;
    min-height: 386px;
    background-color: #EAEDE7;
    box-shadow: 0 4px 4px 0 #00000025;
    margin-top: 74px;
    margin-left: 410px;
    display: flex;
    flex-direction: row;
}
.info-block img {
    margin-left: 90px;
    margin-top: 33px;
}
.info-text p {
    margin-top: 77px;
    margin-left: 108px;
    font-family: interLight;
    font-size: 22px;
}
.info-text p:nth-child(2){
    margin-top: 35px;
    margin-left: 275px;
    font-family: interLight;
    font-size: 20px;
}
@font-face {
    font-family: interExtraLight;
    src: url("Fonts/Inter-ExtraLight.otf");
}
@font-face {
    font-family: interRegular;
    src: url("Fonts/Inter-Regular.otf");
}
@font-face {
    font-family: interLight;
    src: url("Fonts/Inter-Light.otf");
}