.header_line {
    height: 89px;
    background-color: #728567;
}
body {
    margin:0;
}
#listok_1 {
    position: absolute;
    z-index: -1;
    right: 0;
    top:0;
}
#listok_2 {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 367px;
}
.header {
    max-width: 1148px;
    min-height: 92px;
    background-color: #FFF;
    border-radius: 50px;
    box-shadow: 0 4px 4px 0 #00000025;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    position: relative;
    top: -45px;
    z-index: 2;
    flex-wrap: wrap;
}
.logo {
    font-family: interExtraLight;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.logo img {
    margin-right: 6px;
}
.link {
    font-family: interRegular;
    font-size: 16px;
    color:#000;
    text-underline-offset: 3px;
}
.link:hover {
    border-bottom: 5px solid #6AAD46;
}
.nav {
    max-width: 530px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.actions {
    display: flex;
    flex-direction: row;
    align-self: center;
    max-width: 197px;
    width: 100%;
    justify-content: space-between;
}
.info-block {
    max-width: 843px;
    min-height: 386px;
    background-color: #EAEDE7;
    box-shadow: 0 4px 4px 0 #00000025;
    margin-top: 74px;
    margin-left: 410px;
    display: flex;
    flex-direction: row;
}
.vase-img {
    margin-left: 90px;
    margin-top: 33px;
}
.info-text p {
    margin-top: 77px;
    margin-left: 108px;
    font-family: interLight;
    font-size: 22px;
}
.info-text p:nth-child(2){
    margin-top: 35px;
    margin-left: 275px;
    font-family: interLight;
    font-size: 20px;
}
.btn-catalog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 162px;
    height: 63px;
    margin: 0 auto;
    font-family: interRegular;
    font-size: 16px;
    border-radius: 30px;
    border:0;
    box-shadow: 0 4px 4px 0 #00000025;
    margin-top: 44px;
    margin-left: 157px;
    padding-left: 33px;
    transition: all 500ms ease;
}
.btn-catalog img {
    padding-right: 11px;
    padding-bottom: 11px;
}
.btn-catalog:hover {
    cursor: pointer;
    transform:scale(1.1);
}
.slaider p {
    text-align: center;
    font-family: interRegular;
    font-size: 22px;
    margin-top: 32px;
}
.card-1 {
    width: 253px;
    height: 353px;
    background-color: #E1E2DB;
    margin-top: 42px;
    margin-left: 410px;
    box-shadow: 0 4px 4px 0 #00000025;
}
.card-1 img {
    margin-top: 22px;
    margin-left: 46px;

}
.line-block {
    width: 253px;
    height: 73px;
    background-color: #FFFFFF54;
    margin-top: -35px;
    position: absolute;
    z-index: 1;
}
.line-block p {
    margin-top: 10px;
    margin-right: 165px;
    font-family: interLight;
    font-size: 16px;
}
.line-block p:nth-child(2) {
    margin-top: -7px;
    margin-right: 175px;
    font-family: interSemiBold;
    font-size: 16px;
}
.line-block p:nth-child(3) {
    margin-top: -40px;
    margin-right: 22px;
    font-family: interRegular;
    font-size: 15px;
    text-decoration: line-through;
}
.bag-add {
    font-family: interLight;
    font-size: 16px;
    color: #C5C5AC;
    width: 253px;
    height: 63px;
    background-color: #4F5B4A;
    border:0;
    margin-top: 39px;
    transition: all 500ms ease;
}
.bag-add:hover {
    color: #FFF;
    background-color: #6AAD46;
}
.p-style {
    text-align: center;
    font-family: interRegular;
    font-size: 22px;
    margin-top: 75px;
    margin-bottom: 9px;
}
.block-states {
    margin: 0 auto;
}
.a-link {
    position: absolute;
    top: 225px;
    right: 42px;
    font-family: interLight;
    font-size: 15px;
    display: flex;
    align-items: center;
    color: #000;
    text-decoration: none;
}
.a-link img {
    margin-left: 9px;
}
.a-link:hover {
    color: #6AAD46;
}
.states {
    width: 1261px;
    height: 281px;
    background-color: #EAEDE7;
    box-shadow: 0 4px 4px 0 #00000025;
    margin-top: 9px;
    margin-left: 325px;
    margin-bottom: 71px;

    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-around;
    position: relative;
}
.link-states {
    font-family: interLight;
    font-size: 16px;
    color:#000;
    text-underline-offset: 3px;
}
.states-position {
    display: flex;
    margin: 0 auto;
    gap: 0 151px;
    align-self: center;
    text-align: center;
}
.states-position p {
    margin-top: 3px;
}
@font-face {
    font-family: interExtraLight;
    src: url("Fonts/Inter-ExtraLight.otf");
}
@font-face {
    font-family: interRegular;
    src: url("Fonts/Inter-Regular.otf");
}
@font-face {
    font-family: interLight;
    src: url("Fonts/Inter-Light.otf");
}
@font-face {
    font-family: interSemiBold;
    src: url("Fonts/Inter-SemiBold.otf");
}