.header_line {
    height: 89px;
    background-color: #728567;
}

body {
    margin: 0;
}

#listok_1 {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
}

#listok_2 {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 367px;
}

.header {
    max-width: 1148px;
    min-height: 92px;
    background-color: #FFF;
    border-radius: 50px;
    box-shadow: 0 4px 4px 0 #00000025;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    position: relative;
    top: -45px;
    z-index: 2;
    flex-wrap: wrap;
}

.logo {
    font-family: interExtraLight;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 6px;
}

.link {
    font-family: interRegular;
    font-size: 16px;
    color: #000;
    text-underline-offset: 3px;
}

.link:hover {
    border-bottom: 5px solid #6AAD46;
    text-decoration: none;
}

.nav {
    max-width: 530px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actions {
    display: flex;
    flex-direction: row;
    align-self: center;
    max-width: 197px;
    width: 100%;
    justify-content: space-between;
}

.info-block {
    max-width: 843px;
    min-height: 386px;
    width: 100%;
    background-color: #EAEDE7;
    box-shadow: 0 4px 4px 0 #00000025;
    margin-top: 74px;
    margin-left: 117px;
    display: flex;
    flex-direction: row;
}

.vase-img {
    margin-left: 90px;
    margin-top: 33px;
}

.info-text p {
    margin-top: 77px;
    margin-left: 108px;
    font-family: interLight;
    font-size: 22px;
}

.info-text p:nth-child(2) {
    margin-top: 35px;
    margin-left: 275px;
    font-family: interLight;
    font-size: 20px;
}

.btn-catalog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 162px;
    height: 63px;
    margin: 0 auto;
    font-family: interRegular;
    font-size: 16px;
    border-radius: 30px;
    border: 0;
    box-shadow: 0 4px 4px 0 #00000025;
    margin-top: 44px;
    margin-left: 157px;
    padding-left: 33px;
    transition: all 500ms ease;
}

.btn-catalog img {
    padding-right: 11px;
    padding-bottom: 11px;
}

.btn-catalog:hover {
    cursor: pointer;
    transform: scale(1.1);
}
#slaider-p {
    text-align: center;
    font-family: interRegular;
    font-size: 22px;
    margin-top: 32px;
}

.slaider {
    display: flex;
    align-items: center;
    max-width: 1222px;
    width: 100%;
    margin: 0 auto;
}

.card-1 {
    display: flex;
    flex-direction: column;
    max-width: 253px;
    min-height: 353px;
    width: 100%;
    background-color: #E1E2DB;
    box-shadow: 0 4px 4px 0 #00000025;
    margin: 0 10px;
    transition: all 0.5s;
    position: relative;
}
.card-1 img {
    margin-top: 22px;
    z-index: 1;
}

.img { 
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.slider-body {
    display: inline-grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    width: 1096px;
    width: 100%; 
    min-height: 353px;
    overflow: hidden;
}

.line-block {
    width: 253px;
    height: 73px;
    background-color: #FFFFFF54;
    margin-top: 218px;
    z-index: 2;
    position: relative;
    bottom: 0;
}

.price {
    display: flex;
    margin-bottom: 15px;
}

.line-block p {
    margin: 0;
    margin-left: 14px;
    margin-top: 13px;
    font-family: interLight;
    font-size: 16px;
    text-align: left;
}

.price p:nth-child(1) {
    margin-top: 10px;
    margin-left: 15px;
    font-family: interSemiBold;
    font-size: 16px;
}

.price p:nth-child(2) {
    margin-top: 5px;
    margin-left: 20px;
    font-family: interRegular;
    font-size: 15px;
    text-decoration: line-through;
}

.bag-add {
    font-family: interLight;
    font-size: 16px;
    color: #C5C5AC;
    width: 253px;
    height: 63px;
    background-color: #4F5B4A;
    border: 0;
    transition: all 500ms ease;
    position: absolute;
    bottom: 0;
}

.bag-add:hover {
    color: #FFF;
    background-color: #6AAD46;
}

.p-style {
    text-align: center;
    font-family: interRegular;
    font-size: 22px;
    margin-top: 75px;
    margin-bottom: 9px;
}

.block-states {
    margin: 0 auto;
    margin-bottom: 71px;
}

.a-link {
    position: absolute;
    top: 225px;
    right: 42px;
    font-family: interLight;
    font-size: 15px;
    display: flex;
    align-items: center;
    color: #000;
    text-decoration: none;
}

.a-link img {
    margin-left: 9px;
}

.a-link:hover {
    color: #6AAD46;
    text-decoration: underline;
}

.states {
    max-width: 1261px;
    min-height: 281px;
    width: 100%;
    background-color: #EAEDE7;
    box-shadow: 0 4px 4px 0 #00000025;
    margin-top: 9px;
    /*margin-left: 4px;*/
    margin-bottom: 71px;

    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-around;
    position: relative;
}

.link-states {
    font-family: interLight;
    font-size: 16px;
    color: #000;
    text-underline-offset: 3px;
}
.link-states:hover {
    color:#6AAD46;
    text-decoration: none;
}
.states-position {
    display: flex;
    margin: 0 auto;
    gap: 0 151px;
    align-self: center;
    text-align: center;
}

.states-position p {
    margin-top: 3px;
}
.footer {
    position: relative;
    margin: 0;
    width: 100%;
    min-height: 291px;
    background-color: #728567;
}
.footer-text {
    display: grid;
    max-width: 1123px;
    width: 100%;
    grid-template-columns: repeat(4, 281px);
    margin: 0 auto;
    align-items: start;
    justify-content: space-between;
}
#listok-3 {
    position: absolute;
    bottom: 0;
    left: 0;
}
.block-f h3 {
    display: flex;
    align-items: center;
    font-family: interMedium;
    font-size: 20px;
    color: #C5C5AC;
}
.info-text a {
    text-decoration: none;
}
.block-f img { 
    margin-right: 9px;
}
.footer h3 {
    font-family: interMedium;
    font-size: 20px;
}
.footer-text p {
    font-family: interLight;
    font-size: 16px;
    color: #C5C5AC;
}
.footer-text a {
    font-family: interLight;
    font-size: 16px;
    color: #C5C5AC;
    text-decoration: none;
}
.link-footer:hover {
    color:#3F453C;
}
#catalog-p {
    font-family: interRegular;
    font-size: 22px;
    text-align: center;
    margin-top: 32px;
}
.catalog-body {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.catalog-part {
    display: inline-grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    max-width: 1096px;
    width: 100%; 
    min-height: 353px;
    overflow: hidden;
}
/*.catalog-part2 {
    margin-top: 488px;
    display: inline-grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    max-width: 1096px;
    width: 100%; 
    min-height: 353px;
    overflow: hidden;
}*/
.link-goods{
    color: #000;
    text-decoration: none;
}
.link-goods:hover {
    color: #3F453C;
}
@font-face {
    font-family: interExtraLight;
    src: url("Fonts/Inter-ExtraLight.otf");
}

@font-face {
    font-family: interRegular;
    src: url("Fonts/Inter-Regular.otf");
}

@font-face {
    font-family: interLight;
    src: url("Fonts/Inter-Light.otf");
}

@font-face {
    font-family: interSemiBold;
    src: url("Fonts/Inter-SemiBold.otf");
}
@font-face {
    font-family: interMedium;
    src: url("Fonts/Inter-Medium.otf");
}
