body {
    margin: 0;
}

#listok_1 {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
}

#listok_2 {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 367px;
}

.info-text p {
    margin-top: 77px;
    margin-left: 108px;
    font-family: interLight;
    font-size: 22px;
}

.info-text p:nth-child(2) {
    margin-top: 35px;
    margin-left: 275px;
    font-family: interLight;
    font-size: 20px;
}

.btn-seeds {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 162px;
    height: 63px;
    margin: 0 auto;
    font-family: interRegular;
    font-size: 16px;
    border-radius: 30px;
    border: 0;
    box-shadow: 0 4px 4px 0 #00000025;
    margin-top: 44px;
    margin-left: 157px;
    padding-left: 33px;
    transition: all 500ms ease;
}

.btn-seeds img {
    padding-right: 11px;
    padding-bottom: 11px;
}

.btn-seeds:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.card-1 {
    display: flex;
    flex-direction: column;
    max-width: 253px;
    min-height: 353px;
    width: 100%;
    background-color: #E1E2DB;
    box-shadow: 0 4px 4px 0 #00000025;
    margin: 0 10px;
    transition: all 0.5s;
    position: relative;
}
.card-1 img {
    margin-top: 22px;
    z-index: 1;
}

.img { 
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.line-block {
    width: 253px;
    height: 73px;
    background-color: #FFFFFF54;
    margin-top: 218px;
    z-index: 2;
    position: relative;
    bottom: 0;
    cursor: pointer;
}

.price {
    display: flex;
    margin-bottom: 15px;
}

.line-block p {
    margin: 0;
    margin-left: 14px;
    margin-top: 13px;
    font-family: interLight;
    font-size: 16px;
    text-align: left;
}

.price p:nth-child(1) {
    margin-top: 10px;
    margin-left: 15px;
    font-family: interSemiBold;
    font-size: 16px;
}

.price p:nth-child(2) {
    margin-top: 5px;
    margin-left: 20px;
    font-family: interRegular;
    font-size: 15px;
    text-decoration: line-through;
}

.bag-add {
    font-family: interLight;
    font-size: 16px;
    color: #C5C5AC;
    width: 253px;
    height: 63px;
    background-color: #4F5B4A;
    border: 0;
    transition: all 500ms ease;
    position: absolute;
    bottom: 0;
}

.bag-add:hover {
    color: #FFF;
    background-color: #6AAD46;
}

.a-link {
    position: absolute;
    top: 225px;
    right: 42px;
    font-family: interLight;
    font-size: 15px;
    display: flex;
    align-items: center;
    color: #000;
    text-decoration: none;
}

.a-link img {
    margin-left: 9px;
}

.a-link:hover {
    color: #6AAD46;
    text-decoration: underline;
}

#listok-3 {
    position: absolute;
    bottom: 0;
    left: 0;
}

#seeds-p {
    font-family: interRegular;
    font-size: 22px;
    text-align: center;
    margin: 0;
    margin-bottom: 32px;
}
.seeds {
    max-width: 1200px;
    margin: 0 auto;
}

.seeds-part {
    max-height: 1200px;
    display: none;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 257px);
    width: 100%;
    overflow: overlay;
    gap: 50px 29px;/
}

.seeds-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 230px;

    margin-bottom: 19px;
    margin-top: 66px;
    font-family: interSemiBold;
    font-size: 19px;
}
.seeds-nav p:hover {
    cursor: pointer;
}
#strelka-left {
    border: none;
    width: 33px;
    height: 33px;
    border-radius: 100%;
    background: no-repeat url('IMG/strelka-left-mini.svg') center, #5C6B54;
    box-shadow: 0 4px 4px 0 #00000025;
}

#strelka-right {
    border: none;
    width: 33px;
    height: 33px;
    border-radius: 100%;
    background: no-repeat url('IMG/strelka-right-mini.svg') center, #5C6B54;
    box-shadow: 0 4px 4px 0 #00000025;
}

.link-goods{
    color: #000;
    text-decoration: none;
}
.link-goods:hover {
    color: #3F453C;
}
@font-face {
    font-family: interExtraLight;
    src: url("Fonts/Inter-ExtraLight.otf");
}

@font-face {
    font-family: interRegular;
    src: url("Fonts/Inter-Regular.otf");
}

@font-face {
    font-family: interLight;
    src: url("Fonts/Inter-Light.otf");
}

@font-face {
    font-family: interSemiBold;
    src: url("Fonts/Inter-SemiBold.otf");
}
@font-face {
    font-family: interMedium;
    src: url("Fonts/Inter-Medium.otf");
}
